<a href="https://colab.research.google.com/github/Karen0420/Python-Karen_Gonzalez/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practica con numeros aleatorios 
##Primer desafio 
Generar 10 numeros aleatorios en un rango entre  5 y 50

In [ ]:
import random
my_list=[]
for _ in range(10):
  rand_num = random.randint(5,50)
  my_list.append(rand_num)
print(my_list)

[19, 9, 37, 19, 6, 43, 35, 34, 38, 30]

##Segundo Desafio 
Generar 20 numeros pares aleatorios entre 0 y 100

In [ ]:
import random 
my_list=[]
for _ in range(20): 
  num = random.randrange(0,100,2)
  my_list.append(num)
print(my_list)

[44, 76, 26, 78, 50, 66, 60, 90, 38, 42, 72, 8, 96, 88, 32, 8, 82, 4, 84, 42]

##Tercer Desafio 
Generar 10 numero aleatorios multiplos de 5

In [ ]:
import random
for _ in range(10):
  rand_num = random.randint(1,10)*5
print(rand_num)

5

##Cuarto Desafio 
Generar una lista con 20 numeros secuenciales e imprimirlos de una forma desorganizada aleatoriamente

In [ ]:
import random 
some_nums = [i for i in range(1,21)]
print(some_nums)
random.shuffle(some_nums)
print("Randomized: \n", some_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Randomized:
 [2, 5, 13, 3, 1, 4, 16, 6, 12, 11, 18, 19, 17, 10, 7, 14, 20, 15, 9, 8]

#Como encontrar el numero mas grande de una lista 
##Primera Forma
Se pide al usuario que ingrese el maximo de numeros que tendra la lista, luego que ingrese cada uno de los numeros que tendra la lista, despues mostrar en panatalla la lista original que ha elaborado el usuario y al final mostrar el numero mayor de esa lista, accediendo al ultimo numero ingresado

In [ ]:
my_list = []
num_elements = int (input("Enter the Whole number of elements: "))
for i in range(num_elements):
  each_element = int (input("Enter each element of your list: "))
  my_list.append(each_element)
print("Original list: ", my_list)
my_list.sort()
print("sorted List: ", my_list)
print("The Largest Number is: ", my_list[-1])

Enter the Whole number of elements: 5
Enter each element of your list: 2
Enter each element of your list: 7
Enter each element of your list: 5
Enter each element of your list: 3
Enter each element of your list: 1
Original list:  [2, 7, 5, 3, 1]
sorted List:  [1, 2, 3, 5, 7]
The Largest Number is:  7

##Segunda Forma 
este metodo es una variacion del anterior, en este caso se va a llegar la lista con numeros que elija el usuario y luego se define una variable que se va a asignar al primer elemento de la lista, para asi poder hacer una validacion con esa variable y el numero que se vaya aÃ±adiendo y de este modo conseguir el numero mayor de la lista

In [ ]:
my_list = []
num_elements = int (input("Enter the whole number of elements: "))
for i in range(num_elements):
  each_element = int (input("Enter each element of your list: "))
  my_list.append(each_element)
Longest = my_list[0]
for k in my_list:
  if (k > Longest):
    Longest = k
print("The Largest Number: ", Longest)

Enter the whole number of elements: 4
Enter each element of your list: 2
Enter each element of your list: 9
Enter each element of your list: 7
Enter each element of your list: 5
The Largest Number:  9

##Tercera forma:
Con Funcion

In [ ]:
def findLargestNum(nums):
  largest = nums[0]
  for i in nums:
    if (i > largest):
      largest = i 
  print("The Largest Number Is: ", largest)

findLargestNum([6,1,-3,33,2])

The Largest Number Is:  33

##Cuarta forma 
forma rapida de encontrar el numero mayor con el metodo de python: max()

In [ ]:
def findLargestNum(nums):
  findLargestNum = max(nums)
  return findLargestNum

findLargestNum([4,5,1,3,7,2])

7

#Numeros Pares e Impares
##Version 1 Basica

In [ ]:
number = 0
number = int (input("Introduzca un numero  "))
if number%2 == 0: 
  print("El numero ", number, "es par ")
else:
  print("El numero ", number," es impar")

Introduzca un numero  2
El numero  2 es par

##Version 2 Compleja 
con validacion de datos

In [ ]:
while True:
  try:
     number = int (input("Enter a number  "))
  except ValueError:
    print("Not an interger ! Try again!" )
    break
  if number%2 == 0:
     print("The Number ", number, " it\'s even")
  else:
     print("The Nomber ", number, " it\'s odd")
  break

Enter a number  2
The Number  2  it's even

#Suma de Pares e Impares 
desde 0 a N

In [ ]:
total = 0
num = int (input("Please, enter a number "))
even_numbers = []
for i in range(0, num + 1):
  if i % 2 == 0:
    even_numbers.append(i)
    total += i 
print(f"All even numbers from 0 to {num} is: {even_numbers}")
print("------------")
print("The sum of even numbers from 0 to {}".format(total))

Please, enter a number 12
All even numbers from 0 to 12 is: [0, 2, 4, 6, 8, 10, 12]
------------
The sum of even numbers from 0 to 42

#Como determinar el numero de digitos de un numero

In [ ]:
user_input = int (input("Enter a number: "))
user_input = abs(user_input)
print("Your original number is: {}".format(user_input))
count = 0
while user_input > 0:
  user_input//= 10
  count += 1
print("Numbers of digits in your number is: {}".format(count))

Enter a number: 125
Your original number is: 125
Numbers of digits in your number is: 3

#Como separar todos los digitos de un numero 
#Primer metodo

In [ ]:
lst = []
def string_int(my_data):
  for i in my_data:
    lst.append(int(i))
  print(lst)
user_input = input("Enter a number")
string_int(user_input)

Enter a number745
[7, 4, 5]

##Segundo Metodo

In [ ]:
def string_int(txt):
  num_int = [int(i) for i in txt]
  print(num_int)
user_in = input("Enter a number: ")
string_int(user_in)

Enter a number: 85412
[8, 5, 4, 1, 2]

#Suma de n numeros

In [ ]:
total = 0
num = 100
for i in range(0,num+1):
  total = total + i 
print("The sum of numbers from 0 to {} is: {}".format(num,total))

The sum of numbers from 0 to 100 is: 5050

##Segunda forma:
se solicita al usuario el numero

In [ ]:
total = 0
num = int (input("Please, enter a number: "))
for i in range(0,num+1):
  total += i
print("The sum of numbers from 0 to {} is: {}".format(num,total))

Please, enter a number: 15
The sum of numbers from 0 to 15 is: 120

##Reutilizar el codigo:
se crea dentro de una funcion

In [ ]:
def sumOf(num):
  total = 0
  for i in range(1,num+1):
   total += i 
  return total 
print(sumOf(10))

55

#Crear contador de pares e impares

In [ ]:
user_input = int (input("Enter your number: "))
even_num = 0 
odd_num = 0
while user_input > 0:
  if user_input%2 == 0:
     even_num += 1
     break
  else:
      odd_num += 1
      break 
user_input = user_input//10
print(f"number of even numbers: {even_num} | number of odd numbers: {odd_num}")

Enter your number: 12
number of even numbers: 1 | number of odd numbers: 0

In [ ]:
def even_odd_counter(arr_values):
  count_even = 0
  count_odd = 0 

  even_odd = []
  print(even_odd)

  for i in arr_values:
    if i % 2 == 0:
      count_even += 1
    else:
      count_odd += 1

  even_odd.append(count_even)
  even_odd.append(count_odd)
  print(even_odd)
  print("Even: {} | odd: {}".format(even_odd[0],even_odd[1]))

even_odd_counter([5,7,23,4,9,15])

[]
[1, 5]
Even: 1 | odd: 5

#Tabla de multiplicacion

In [ ]:
import sys

def multi_table():
  num = int (input("Please, enter a number: "))
  limit = int (input("What is the limit of the multiplication table?: "))

  for i in range(1,limit+1):
    product = num * i 
    print(f"{num} * {i} = {product}")

  print("Create another table? \n 1-Yes \n 2-No")
  x = input().lower()
  if (x == 1 or x == "Yes"):
    multi_table()
  else:
    print("Bye, Bye")
    sys.exit(1)


multi_table()

Please, enter a number: 2
What is the limit of the multiplication table?: 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
Create another table?
 1-Yes
 2-No
2
Bye, Bye

SystemExit: ignored

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

#Numeros del 1 al 100 
sin Loops

In [ ]:
def hundreNums(num):
  if num != 101:
    print(num)
    num += 1
    hundreNums(num)
  else:
    return

hundreNums(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#Numeros Secuenciales 
##List Comprehension

In [ ]:
seq_numbers = [i for i in range(1,21)]
print(seq_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

##Generator Expression

In [ ]:
seq_nums = list (i for i in range(1,21))
print(seq_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

##Classical for Loop

In [ ]:
my_lst = []

for x in range(1,21):
  my_lst.append(x)

  print(my_lst)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

##Solicitar el maximo numero de la lista

In [ ]:
user_input = int (input("Enter your range of numbers: "))
some_numbers = [j for j in range(1,user_input+1)]

print(some_numbers)

Enter your range of numbers: 20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

##Mostrar la lista de numeros en una sola linea de codigo

In [ ]:
print(list(range(1,21)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]